*/data
*/*/data/
*/*/*/data/
*/*/*/*/data/
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*/*/*/.ipynb_checkpoints/
*/*/*/*/.ipynb_checkpoints/



project_6_evaluation/assembling*
project_6_evaluation/hybrid*
project_6_evaluation/illumina*

